*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    font-size: 20px;
    font-family: 'Lato', sans-serif;
}

nav{
    position: fixed;
    top: 0;
    background-color: #333;
    color: #fff;
    width: 100%;
    display: flex;
}

nav div{
    flex: 1 1;
    text-align: center;
    padding: 20px 0;
}

nav div:hover{
    cursor: pointer;
    background-color: #000;
}


#banner{
    margin-top:60px;

    background-color: #404040;
    height: 500px;
    background: url("img/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;

    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
}
#banner #caption{
   text-align: center;
}

#banner #caption #header{
    font-size: 3em;
    text-transform: uppercase;
}

#banner #caption .btn-main{
    color: red;
    font-weight: 700;
    font-size: 1.5em;
    margin-top: 15px;
}

#banner #caption .btn-main span{
    background-color: #fff;
    padding: 5px;
    border-radius: 5px;
}

#banner #caption .btn-main span:hover{
    cursor: pointer;
    background-color: red;
    color: #fff;
}




@media only screen and (max-width: 400px){
    #contact{
        display: none;
    }
    #banner #caption #header{
        font-size: 2em;;
    }
}

@media only screen and (max-width: 600px){
    #banner{
        height: 350px;
    }
    #banner #caption{
        width: 70%;
    }
}
