*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    font-size: 20px;
    font-family: 'Lato', sans-serif;
}

nav{
    position: fixed;
    top: 0;
    background-color: #333;
    color: #fff;
    width: 100%;
    display: flex;
    z-index: 10;
}

nav div{
    flex: 1 1;
    text-align: center;
    padding: 20px 0;
}

nav div:hover{
    cursor: pointer;
    background-color: #fff;
    color: #333;
}


#banner{
    margin-top:60px;

    background-color: #404040;
    height: 500px;
    background: url("img/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;

    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
}
#banner #caption{
   text-align: center;
}

#banner #caption #header{
    font-size: 3em;
    text-transform: uppercase;
}

#banner #caption .btn-banner{
    color: #333;
    font-weight: 700;
    font-size: 1.5em;
    margin-top: 15px;
}

#banner #caption .btn-banner span{
    background-color:#333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
}

#banner #caption .btn-banner span:hover{
    cursor: pointer;
    background-color: #fff;
    color: #333;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 60px 0;
}

.col{
    text-align: center;
    width: 250px;
    position: relative;
    height: 350px;
    margin: 0 20px 80px 20px;
}

.icon, .header{
    font-size: 1.5em;
    letter-spacing: 0.1em;
}

.header{
    margin-top: 10px
}

.describ{
    line-height: 1.5;
    margin: 0px 50px;
    display: flex;
    align-items: center;
    height: 190px;
}

.btn-option{
    border: #000 1px solid;
    font-weight: 700;
    position: absolute;
    bottom: 0;
    width: 100%;
    border-radius: 5px;
    height: 40px;
    line-height: 40px;
}

.btn-option:hover{
    cursor: pointer;
    background-color: #333;
    color: #fff;
    border: 1px solid #333;
}



@media only screen and (max-width: 400px){
    #contact{
        display: none;
    }
    #banner #caption #header{
        font-size: 2em;;
    }
}

@media only screen and (max-width: 600px){
    #banner{
        height: 350px;
    }
    #banner #caption{
        width: 70%;
    }
}

@media only screen and (max-width: 579px){
    .col, .describ{
        height: auto;
    }
    .btn-option{
        position: relative;
    }
    .describ{
        margin: 30px 50px;
    }
}

@media only screen and (max-width: 869px){
    .third, .third .describ{
        height: auto;
    }
    .third .btn-option{
        position: relative;
    }
    .third .describ{
        margin: 30px 50px;
    }
}
